{{ form_start(form) }}
<table>
    <tr>
        <td><label>Nom:</label></td>
        <td>{{ form_widget(form.nomp) }}</td>
    </tr>

    <tr>
        <td><label>Prenom:</label></td>
        <td>{{ form_widget(form.prenomp) }}</td>
    </tr>

    <tr>
        <td><label>Email:</label></td>
        <td>{{ form_widget(form.email) }}</td>
    </tr>

    <tr>
        <td><label>Password:</label></td>
        <td>{{ form_widget(form.passwordp) }}</td>
    </tr>

    <tr>
        <td><label>Choix:</label></td>
        <td>{{ form_widget(form.choix) }}</td>
    </tr>

    <tr>
        <td><label></label></td>
        <td>{{ form_widget(form.valider) }}</td>
    </tr>
