{% extends 'backend.html.twig' %}

{% block sidenavbar %}
    <div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true" data-img="theme-assets/images/backgrounds/02.jpg">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto"><a class="navbar-brand" href="index.html"><img class="brand-logo" alt="Chameleon admin logo" src="{{ asset('theme-assets/images/logo/hypocampus.png') }}"/>
                        <h3 class="brand-text">Hypocampus</h3></a></li>
                <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
            </ul>
        </div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class=" nav-item"><a href="{{path('addevent')}}"><i class="ft-book"></i><span class="menu-title" data-i18n="">Ajout Evenement</span></a>
                </li>
                <li class=" nav-item"><a href="{{path('afficherevent')}}"><i class="ft-book"></i><span class="menu-title" data-i18n="">List Events</span></a>
                </li>
                <li class=" nav-item"><a href="{{path('_searchevent')}}"><i class="ft-book"></i><span class="menu-title" data-i18n="">Search Participants</span></a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>

            <!-- PUT BODY HERE -->
            <div class="content-body">
                <div class="row match-height">

                    <div class="card">
                        <div class="card-content">
                            <div class="card-header"><h3>List des Participants</h3></div>
                            <div id="product-summary" class="media-list position-relative">
                                <div class="table-responsive">
                                    <table class="table table-padded table-xl mb-0" id="product-summary-table">
                                     <thead>
                                     <tr>
                                         <th class="border-top-0">Nom</th>
                                         <th class="border-top-0">Prenom</th>
                                         <th class="border-top-0">Email</th>
                                         <th class="border-top-0">Password</th>
                                         <th class="border-top-0">Choix</th>
                                         <th ></th>
                                         <th ></th>
                                     </tr>
                                     </thead>
                                        <tbody>
                                        {% for i in tabs %}
                                     <tr>
                                    <td class="text-truncate">{{ i.nomp }}</td>
                                    <td class="text-truncate">{{ i.prenomp }}</td>
                                    <td class="text-truncate">{{ i.email }}</td>
                                    <td class="text-truncate">{{ i.passwordp }}</td>
                                    <td class="text-truncate">{{ i.choix.TypeEvent }}</td>
                                         <td class="text-truncat mr-1">
                                             <a href="{{path('_deletevent',{'nomp':i.nomp})}}">
                                             <button class="btn btn-sm btn-outline-danger round" type="submit">Supprimer</button>
                                             </a>
                                         </td>
                                         <td class="text-truncat mr-1">
                                             <a href="{{path('_updatevent',{'nomp':i.nomp})}}">
                                             <button class="btn btn-sm btn-outline-success round" type="submit">Modifier</button>
                                             </a>
                                         </td>



                                    </tr>
                                        {% endfor %}
                                        </tbody>
                                     </table>

                                 </div>

                            </div>
                        </div>
                    </div>



            </div>
            </div>





            <!--/ END BODY -->
        </div>
    </div>





{% endblock %}


