{% extends 'backend.html.twig' %}

{% block topnavbar %}

    <!-- fixed-top-->
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-light">
        <div class="navbar-wrapper">
            <div class="navbar-container content">
                <div class="collapse navbar-collapse show" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="nav-item d-block d-md-none"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu"></i></a></li>
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon ft-maximize"></i></a></li>
                        <li class="nav-item dropdown navbar-search"><a class="nav-link dropdown-toggle hide" data-toggle="dropdown" href="#"><i class="ficon ft-search"></i></a>
                            <ul class="dropdown-menu">
                                <li class="arrow_box">
                                    <form>
                                        <div class="input-group search-box">
                                            <div class="position-relative has-icon-right full-width">
                                                <form>
                                                    <input type="submit" id="submit" hidden>
                                                    <input class="form-control" name="nomp" id="nomp" type="text" placeholder="Chercher par Nom">
                                                </form>

                                                <div class="form-control-position navbar-search-close"><i class="ft-x">   </i></div>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block sidenavbar %}
    <div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true" data-img="theme-assets/images/backgrounds/02.jpg">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto"><a class="navbar-brand" href="index.html"><img class="brand-logo" alt="Chameleon admin logo" src="{{ asset('theme-assets/images/logo/hypocampus.png') }}"/>
                        <h3 class="brand-text">Hypocampus</h3></a></li>
                <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
            </ul>
        </div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class=" nav-item"><a href="{{path('addevent')}}"><i class="ft-book"></i><span class="menu-title" data-i18n="">Ajout Evenement</span></a>
                </li>
                <li class=" nav-item"><a href="{{path('afficherevent')}}"><i class="ft-book"></i><span class="menu-title" data-i18n="">List Events</span></a>
                </li>
                <li class=" nav-item"><a href="{{path('_readevent')}}"><i class="ft-book"></i><span class="menu-title" data-i18n="">List Participants</span></a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>

            <!-- PUT BODY HERE -->
            <div class="content-body">
                <div class="row match-height">

                    <div class="card">
                        <div class="card-content">
                            <div class="card-header"><h3>Recherche Participant</h3>

                                <div class="heading-elements" >
                                    <ul class="list-inline mb-0">
                                        <li>
                                            <a data-action="reload" >
                                                <i class="ft-rotate-cw" ></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="product-summary" class="media-list position-relative">
                                <div class="table-responsive">

                                    <table class="table table-padded table-xl mb-0" id="product-summary-table">
                                        <thead>
                                        <tr>
                                            <th class="border-top-0">Nom</th>
                                            <th class="border-top-0">Prenom</th>
                                            <th class="border-top-0">Email</th>
                                            <th class="border-top-0">Password</th>
                                            <th class="border-top-0">Choix</th>
                                            <th ></th>
                                            <th ></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in formations %}
                                            <tr>
                                                <td class="text-truncate">{{ i.nomp }}</td>
                                                <td class="text-truncate">{{ i.prenomp }}</td>
                                                <td class="text-truncate">{{ i.email }}</td>
                                                <td class="text-truncate">{{ i.passwordp }}</td>
                                                <td class="text-truncate">{{ i.choix.TypeEvent }}</td>
                                                <td class="text-truncat mr-1">
                                                    <a href="{{path('_deletevent',{'nomp':i.nomp})}}">
                                                        <button class="btn btn-sm btn-outline-danger round" type="submit">Supprimer</button>
                                                    </a>
                                                </td>
                                                <td class="text-truncat mr-1">
                                                    <a href="{{path('_updatevent',{'nomp':i.nomp})}}">
                                                        <button class="btn btn-sm btn-outline-success round" type="submit">Modifier</button>
                                                    </a>
                                                </td>



                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>



                </div>
            </div>





            <!--/ END BODY -->
        </div>
    </div>





{% endblock %}


