{% extends 'backend.html.twig' %}
{% block body %}
    <div class="app-content content">
        <div class="content-wrapper">

            <div class="content-header row">
            </div>
            <div class="content-body"><!-- Chart -->
                <div class="col-12">    </div>
                <div class="col-12">    </div>
                <div class="col-12">    </div>
                <div class="col-12">    </div>
                <p>


                </p>

                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Liste des sprints </h4>

                        <a class="heading-elements-toggle">
                            <i class="fa fa-ellipsis-v font-medium-3"></i>
                        </a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li>
                                    <a class="btn btn-sm btn-success box-shadow-2 round btn-min-width pull-right" href="{{ path('createsprint', {'id_projet':id_p}) }}">New sprint</a>


                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% for i in sprint %}


                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="card pull-up">
                                <div class="card-header">

                                    <a href="{{ path('deletesprint',{'id':i.id}) }}"><span class="badge badge-pill badge-danger float-right badge-glow"><i class="ft-x"></i></span></a>
                                    <a href="{{ path('updatesprint',{'idU':i.projets.id,'id':i.id}) }}"><span class="badge badge-primary badge-pill badge-glow float-right"><i class="ft-edit-2"></i></span></a>
                                    <h4 class="card-title float-left "> {{ i.sprintName }}: <span class="blue-grey lighten-2 font-small-3 mb-0">{{ i.projets.projetName }} </span>     </h4><a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>

                                    {% if render(controller('sprintBundle:sprint:Done', {'search':i.id}))!= render(controller('sprintBundle:sprint:DoneT', {'search':i.id}))%}
                                        <span class="badge badge-pill badge-info float-left  ">In Progress</span>
                                    {% endif %}
                                    {% if render(controller('sprintBundle:sprint:Done', {'search':i.id})) == render(controller('sprintBundle:sprint:DoneT', {'search':i.id}))%}
                                        <span class="badge badge-primary badge-pill badge-success float-left  ">Completed</span>
                                    {% endif %}

                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body pt-0 pb-1">

                                        <h6 class="text-muted font-small-3"> Completed Task : {{ render(controller('sprintBundle:sprint:Done', {'search':i.id})) }}/{{ render(controller('sprintBundle:sprint:DoneT', {'search':i.id})) }}</h6>
                                        {% if render(controller('sprintBundle:sprint:DoneT', {'search':i.id}))!=0%}
                                            <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                                <div class="progress-bar bg-gradient-x-info" role="progressbar" style="width: {{ render(controller('sprintBundle:sprint:Done', {'search':i  .id}))*100/render(controller('sprintBundle:sprint:DoneT', {'search':i.id})) }}%" aria-valuenow="{{ render(controller('sprintBundle:sprint:Done', {'search':i.id})) }}" aria-valuemin="0" aria-valuemax="{{ render(controller('sprintBundle:sprint:Done', {'search':i.id})) }}"></div>
                                            </div>
                                        {% endif %}
                                        <div class="media d-flex">
                                            <div class="align-self-center">
                                                <h6 class="text-bold-600 mt-1"> startDate: <span class="blue-grey">{{ i.startDatesprint |date }}</span></h6>
                                                <h6 class="text-bold-600 mt-1"> Deadline: <span class="blue-grey">{{ i.endDatesprint |date }}</span></h6>
                                                <a class="btn btn-sm btn-success box-shadow-2 round btn-min-width pull-right" href="{{ path('DRAG_DROP',{'idd':i.id}) }}">voir les taches </a>


                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>



                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
