{% extends 'backend.html.twig' %}
{% block body %}
    <div class="app-content content">
        <div class="content-wrapper">

            <div class="content-header row">
            </div>
            <div class="content-body"><!-- Chart -->
                <div class="col-12">    </div>
                <div class="col-12">    </div>
                <div class="col-12">    </div>
                <div class="col-12">    </div>
                <p>


                </p>

                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Liste des projets </h4>

                        <a class="heading-elements-toggle">
                            <i class="fa fa-ellipsis-v font-medium-3"></i>
                        </a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li>
                                    <a class="btn btn-sm btn-success box-shadow-2 round btn-min-width pull-right" href="{{ path('createprojet') }}">New project</a>
                                    <input type="submit" value="Search" id="submit" hidden>


                                </li>
                                <li class="nav-item dropdown navbar-search"><a class="nav-link dropdown-toggle hide" data-toggle="dropdown"  aria-expanded="false"><i class="ficon ft-search"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="arrow_box">
                                            <form>
                                                <div class="input-group search-box">
                                                    <div class="position-relative has-icon-right full-width">
                                                        <input type="text" id="recherche"name="projetName"class="form-control round pull-right" placeholder="Rounded Input"required>

                                                    </div>
                                                </div>
                                            </form>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="app">
                        <header>
                            <h1>sprint</h1>
                        </header>
                        <div class="lists">
                            <div id="999" class="list ">
                                <p class="text-primary">TODO</p>

                                {% for i in tasks %}
                                    {% if i.etat == "TODO" %}
                                        <div id="{{ i.id }}" class="list-item bg-primary" draggable="true">{{ i.title }}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div id="888" class="list">
                                <p class="text-warning">DOING</p>
                                {% for i in tasks %}
                                    {% if i.etat == "DOING" %}
                                        <div id="{{ i.id }}" class="list-item bg-warning" draggable="true">{{ i.title }}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div id="777" class="list">
                                <p class="text-success">DONE</p>

                                {% for i in tasks %}
                                    {% if i.etat == "DONE" %}
                                        <div id="{{ i.id }}" class="list-item bg-success" draggable="true">{{ i.title }}</div>
                                    {% endif %}

                                {% endfor %}

                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
    <script src="{{ asset('jquery-min.js') }}"></script>
    <script>
        /* $$(function() {
         $( ".list div" ).draggable();
         $( ".list" ).droppable({
         drop: function( event, ui ) {
         alert('aaaaaa');
         }
         });

         })*/
        const list_items = document.querySelectorAll('.list-item');
        const lists = document.querySelectorAll('.list');

        let draggedItem = null;
        var scarra = 0;

        for (let i = 0; i < list_items.length; i++) {
            const item = list_items[i];


            item.addEventListener('dragstart', function () {
                draggedItem = item;
                setTimeout(function () {
                    item.style.display = 'none';
                }, 0)
            });

            item.addEventListener('dragend', function () {
                setTimeout(function () {
                    draggedItem.style.display = 'block';
                    draggedItem = null;
                }, 0);
            });

            for (let j = 0; j < lists.length; j ++) {
                const list = lists[j];

                list.addEventListener('dragover', function (e) {
                    e.preventDefault();
                });

                list.addEventListener('dragenter', function (e) {
                    e.preventDefault();
                    this.style.backgroundColor = 'rgba(0, 0, 0, 0.2)';
                });

                list.addEventListener('dragleave', function (e) {
                    this.style.backgroundColor = 'rgba(0, 0, 0, 0.1)';
                });

                list.addEventListener('drop', function (e) {
                    console.log('drop');
                    this.append(draggedItem);
                    this.style.backgroundColor = 'rgba(0, 0, 0, 0.1)';

                        $.ajax({
                            url : "{{ path('DRAG_DROP') }}",
                            type: 'GET',
                            data : { 'id' : draggedItem.id , 'etat' : this.id}
                        })


                });

            }

        }
    </script>
{% endblock %}
