{% extends 'backend.html.twig' %}
{% block body %}
    <div class="app-content content">
        <div class="content-wrapper">

            <div class="content-body"><!-- Chart -->
                <div class="col">
                    <div class="card" >

                        <div class="card-header">
                            <h4 class="card-title" id="basic-layout-icons">Modifier sprint</h4>
                            <a class="heading-elements-toggle">
                                <i class="la la-ellipsis-v font-medium-3"></i>
                            </a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li>
                                        <a data-action="collapse">
                                            <i class="ft-minus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-action="reload">
                                            <i class="ft-rotate-cw"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-action="expand">
                                            <i class="ft-maximize"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-action="close">
                                            <i class="ft-x"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <form method="POST">
                                <div class="card-body">
                                    <div class="form-body">
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="form-control-position">

                                                    </div>
                                                    <label for="timesheetinput1"><i class="ft-user"></i>  Projet Name</label>
                                                    <div class="position-relative has-icon-left">
                                                        <select class="form-control" id="projet" name="projet">

                                                            {% for i in projets %}
                                                                <option {% if i.id == form.projets.id %} selected {% endif %} value="{{ i.id }}">{{ i.projetName }}</option>
                                                            {% endfor %}
                                                        </select>




                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="timesheetinput2"><i class="la la-briefcase"></i>   sprint Name</label>
                                                    <div class="position-relative has-icon-left">
                                                        <input type="text" id="timesheetinput2" class="form-control" placeholder="sprintName" name="sprintName" value="{{ form.sprintName }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>





                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="timesheetinput5"> <i class="ft-clock"></i> Start Date</label>
                                                    <div class="position-relative has-icon-left">
                                                        <input type="date" class="form-control" placeholder="startDatesprint"  name="startDatesprint" value="{{ form.startDatesprint | date('Y-m-d')  }}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="timesheetinput6"><i class="ft-clock"></i> End Date</label>
                                                    <div class="position-relative has-icon-left">
                                                        <input type="date" class="form-control" placeholder="endDatesprint" name="endDatesprint" value="{{ form.endDatesprint | date('Y-m-d')  }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="form-actions right">
                                        <a href="{{ path('affichersprint') }}">
                                            <button type="button" class="btn btn-danger round btn-min-width ">
                                                <i class="ft-x"></i> Annuler
                                            </button>
                                        </a>
                                        <input type="submit" class="btn btn-bg-gradient-x-blue-green round  pull-right" value="Enregistrer">
                                    </div>


                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}