<!DOCTYPE HTML>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>unapp Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{{ asset('css/icomoon.css') }}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">

    <!-- Theme style  -->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <!-- Modernizr JS -->
    <script src="{{ asset('js/modernizr-2.6.2.min.js') }}"></script>

    <script src="{{ asset('js/respond.min.js') }}"></script>


    {% endblock %}
</head>
<body>
{% block body %}
<div class="colorlib-loader"></div>

<div id="page">
    <nav class="colorlib-nav" role="navigation">
        <div class="top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div id="colorlib-logo">
                            <img class="img-responsive" src="{{ asset('theme-assets/images/logo/hypocampus.png') }}" alt="">

                        </div>
                    </div>
                    <div class="col-md-10 text-right menu-1">
                        <ul>
                            <li class="active"><a href="{{ asset('index.html') }}">Acceuil</a></li>
                           <!-- <li class="has-dropdown">
                                <a href="work.html">Works</a>
                                <ul class="dropdown">
                                    <li><a href="work-grid.html">Works grid with text</a></li>
                                    <li><a href="work-grid-without-text.html">Works grid w/o text</a></li>
                                </ul>
                            </li> -->
                            <li><a href="{{ asset('services.html') }}">Fonctionnalitées</a></li>
                            <li><a href="{{ asset('about.html') }}">A propos</a></li>
                            <li><a href="{{ asset('shop.html') }}">Tarif</a></li>
                            <li><a href="{{path('loginp')}}">Participant</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section id="home" class="video-hero" style="height: 700px; background-image: url(images/cover_img_1.jpg);  background-size:cover; background-position: center center;background-attachment:fixed;" data-section="home">
        <div class="overlay"></div>
        <a class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=vqqt5p0q-eU',containment:'#home', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}"></a>
        <div class="display-t text-center">
            <div class="display-tc">
                <div class="container">
                    <div class="col-md-12 col-md-offset-0">
                        <div class="animate-box">
                            <h2>Booster et améliorer votre methode de travaille</h2>
                            <p>avec les fonctionnalitées de Hypocampus</p>
                            <p><a href="{{ asset('gallery.html') }}" class="btn btn-primary btn-lg btn-custom">Demander une Demo</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="colorlib-featured">
        <div class="row animate-box">
            <div class="featured-wrap">
                <div class="owl-carousel">
                    <div class="item">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="featured-entry">
                                <img class="img-responsive" src="{{ asset('images/dashboard_full_1.jpg') }}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="featured-entry">
                                <img class="img-responsive" src="{{ asset('images/dashboard_full_2.jpg') }}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="featured-entry">
                                <img class="img-responsive" src="{{ asset('images/dashboard_full_3.jpg') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="colorlib-services colorlib-bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center animate-box">
                    <div class="services">
							<span class="icon">
								<i class="icon-browser"></i>
							</span>
                        <div class="desc">
                            <h3>Créer votre projet</h3>
                            <p>Commencez sans perdre de temps avec la création rapide de projet et ajouter les membres de votre équipe.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <div class="services">
							<span class="icon">
								<i class="icon-download"></i>
							</span>
                        <div class="desc">
                            <h3>Automatic Backup Data</h3>
                            <p>Tous vos données sensibles sont toujours sauvegardées dans nos serveurs de backup.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <div class="services">
							<span class="icon">
								<i class="icon-layers"></i>
							</span>
                        <div class="desc">
                            <h3>Agilité A chaque couche</h3>
                            <p>On peut se permettre de dire qu'on est le meilleur outil pour avoir une equipe agile a chaque processus du projet   .</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="colorlib-intro">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                    <h2>Collaborer avec votre équipe avec une nouvelle façony</h2>
                    <p>Hypocampus est conçu de sorte que chaque membre de votre équipe de développement logiciel puisse planifier,
                        suivre et livrer d'excellents logiciels.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 animate-box">
                    <span class="play"><a href="https://vimeo.com/channels/staffpicks/93951774" class="pulse popup-vimeo"><i class="icon-play3"></i></a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="colorlib-work-featured colorlib-bg-white">
        <div class="container">
            <div class="row mobile-wrap">
                <div class="col-md-5 animate-box">
                    <div class="mobile-img" style="background-image: url({{ asset('images/mobile-2.jpg') }});"></div>
                </div>
                <div class="col-md-7 animate-box">
                    <div class="desc">
                        <h2>Rapidement et régulièrement</h2>
                        <div class="features">
                            <span class="icon"><i class="icon-lightbulb"></i></span>
                            <div class="f-desc">
                                <p>Planifier
                                    Créez des user stories et des tickets, planifiez des sprints et affectez les tâches à l'ensemble de votre équipe de développement..</p>
                            </div>
                        </div>
                        <div class="features">
                            <span class="icon"><i class="icon-circle-compass"></i></span>
                            <div class="f-desc">
                                <p>Suivre votre travail
                                    Définissez des priorités et bénéficiez d'une visibilité totale pour discuter du travail de votre équipe dans son contexte</p>
                            </div>
                        </div>
                        <div class="features">
                            <span class="icon"><i class="icon-beaker"></i></span>
                            <div class="f-desc">
                                <p>Livrer
                                    Livrez vos logiciels en toute confiance, car vous savez que les informations dont vous disposez sont toujours à jour..</p>
                            </div>
                        </div>
                        <p><a href="#" class="btn btn-primary btn-outline with-arrow">Start collaborating <i class="icon-arrow-right3"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="row mobile-wrap">
                <div class="col-md-5 col-md-push-7 animate-box">
                    <div class="mobile-img" style="background-image: url({{ asset('images/mobile-1.jpg') }});"></div>
                </div>
                <div class="col-md-7 col-md-pull-5 animate-box">
                    <div class="desc">
                        <h2>Efficacement</h2>
                        <div class="features">
                            <span class="icon"><i class="icon-lightbulb"></i></span>
                            <div class="f-desc">
                                <p>Créer des rapports
                                    Améliorez les performances de l'équipe en exploitant en temps réel les données visuelles des rapports..</p>
                            </div>
                        </div>
                        <div class="features">
                            <span class="icon"><i class="icon-circle-compass"></i></span>
                            <div class="f-desc">
                                <p>Chaque équipe dispose d'un processus unique pour livrer des logiciels. Utilisez un workflow prêt à l'emploi ou créez-en un qui réponde aux méthodes de travail de votre équipe.</p>
                            </div>
                        </div>
                        <div class="features">
                            <span class="icon"><i class="icon-beaker"></i></span>
                            <div class="f-desc">
                                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                            </div>
                        </div>
                        <p><a href="#" class="btn btn-primary btn-outline with-arrow">Start collaborating <i class="icon-arrow-right3"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="colorlib-counter" class="colorlib-counters" style="background-image: url(images/cover_img_1.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 col-sm-4 text-center animate-box">
                        <div class="counter-entry">
                            <span class="icon"><i class="flaticon-ribbon"></i></span>
                            <div class="desc">
                                <span class="colorlib-counter js-counter" data-from="0" data-to="1500" data-speed="5000" data-refresh-interval="50"></span>
                                <span class="colorlib-counter-label">utilisateur satistfees de notre support professionel</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center animate-box">
                        <div class="counter-entry">
                            <span class="icon"><i class="flaticon-church"></i></span>
                            <div class="desc">
                                <span class="colorlib-counter js-counter" data-from="0" data-to="250" data-speed="5000" data-refresh-interval="50"></span>
                                <span class="colorlib-counter-label">Entreprises nous ont choisis</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center animate-box">
                        <div class="counter-entry">
                            <span class="icon"><i class="flaticon-dove"></i></span>
                            <div class="desc">
                                <span class="colorlib-counter js-counter" data-from="0" data-to="70" data-speed="5000" data-refresh-interval="50"></span>
                                <span class="colorlib-counter-label">Developpeur travaille chaque jours pour fournir des mis a jour regulierement a notre logiciel</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="colorlib-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                    <h2>On parle de nous !</h2>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 animate-box">
                    <article>
                        <h2>Meilleur outil pour une equipe agile</h2>
                        <p class="admin"><span>May 12, 2018</span></p>
                        <p>Malgre que j'etais perpexle au debut , je ne regrette pas cet outil!</p>
                        <p class="author-wrap"><a href="#" class="author-img" style="background-image: url({{ asset('images/person1.jpg') }});"></a> <a href="#" class="author">by Dave Miller</a></p>
                    </article>
                </div>
                <div class="col-md-4 animate-box">
                    <article>
                        <h2>Un Must Have pour les startups!!</h2>
                        <p class="admin"><span>juin 12, 2018</span></p>
                        <p>Sans cette outil mon entreprise aurait echouer</p>
                        <p class="author-wrap"><a href="#" class="author-img" style="background-image: url({{ asset('images/person2.jpg') }});"></a> <a href="#" class="author">by john Doe</a></p>
                    </article>
                </div>
                <div class="col-md-4 animate-box">
                    <article>
                        <h2>Simple et Efficace</h2>
                        <p class="admin"><span>May 25, 2018</span></p>
                        <p>L'utilisation est rapide, simple et surtout il reponde a tous mes besoins</p>
                        <p class="author-wrap"><a href="#" class="author-img" style="background-image: url(images/person3.jpg);"></a> <a href="#" class="author">by Mike Smith</a></p>
                    </article>
                </div>
            </div>
        </div>
    </div>

    <div id="colorlib-subscribe" class="colorlib-subscribe" style="background-image: url(images/cover_img_1.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center colorlib-heading animate-box">
                    <h2>Deja utiliser dans 3 continents different</h2>
                    <p>Inscrivez vous pour recevoir plus d'informations.</p>
                </div>
            </div>
            <div class="row animate-box">
                <div class="col-md-6 col-md-offset-3">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-inline qbstp-header-subscribe">
                                <div class="col-three-forth">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="email" placeholder="Entrez votre e-mail">
                                    </div>
                                </div>
                                <div class="col-one-third">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Inscrivez vous</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="colorlib-pricing">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                    <h2>Tarif</h2>
                    <p>Des prix attractifs et abordables a tous</p>
                </div>
            </div>
            <div class="row">
                {% for i in tarifs %}
                    <div class="col-md-3 text-center animate-box">
                        <div class="pricing">
                            <h2 class="pricing-heading">{{ i.name }}</h2>
                            <div class="price"><sup class="currency">$</sup>{{ i.value }}<small>par mois</small></div>
                            <p>Nbr de Projets: {{ i.projectnbr }} <br>
                                Nbr d'utilisateur: {{ i.usernbr }}</p>
                            <p><a href="#" class="btn btn-primary">Select Plan</a></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

    <footer id="colorlib-footer">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-3 colorlib-widget">
                    <h4>A propos d'Hypocampus</h4>
                    <p>Un projet realise par des passionees</p>
                    <p>
                    <ul class="colorlib-social-icons">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                    </p>
                </div>
                <div class="col-md-3 colorlib-widget">
                    <h4>Information</h4>
                    <p>
                    <ul class="colorlib-footer-links">
                        <li><a href="#"><i class="icon-check"></i> Home</a></li>
                        <li><a href="#"><i class="icon-check"></i> About</a></li>

                        <li><a href="#"><i class="icon-check"></i> Contact</a></li>
                        <li><a href="#"><i class="icon-check"></i> Privacy</a></li>
                    </ul>
                    </p>
                </div>


                <div class="col-md-3 colorlib-widget">
                    <h4>Contact Info</h4>
                    <ul class="colorlib-footer-links">
                        <li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
                        <li><a href="tel://1234567920"><i class="icon-phone"></i> + 1235 2355 98</a></li>
                        <li><a href="mailto:info@yoursite.com"><i class="icon-envelope"></i> info@yoursite.com</a></li>
                        <li><a href="#"><i class="icon-location4"></i> yourwebsite.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copy">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by IT Slayers
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --><br>
                            <!-- <a href="http://unsplash.co/" target="_blank">Unsplash</a>, <a href="http://pexels.com/" target="_blank">Pexels</a>-->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>
{% block scriptjs %}
<!-- jQuery -->
<script src="{{ asset('js/jquery.min.js') }}"></script>
<!-- jQuery Easing -->
<script src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
<!-- Bootstrap -->
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<!-- Waypoints -->
<script src="{{ asset('js/jquery.waypoints.min.js') }}"></script>
<!-- Stellar Parallax -->
<script src="{{ asset('js/jquery.stellar.min.js') }}"></script>
<!-- YTPlayer -->
<script src="{{ asset('js/jquery.mb.YTPlayer.min.js') }}"></script>
<!-- Owl carousel -->
<script src="{{ asset('js/owl.carousel.min.js') }}"></script>
<!-- Magnific Popup -->
<script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('js/magnific-popup-options.js') }}"></script>
<!-- Counters -->
<script src="{{ asset('js/jquery.countTo.js') }}"></script>
<!-- Main -->
<script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
</body>
</html>

